@media (prefers-color-scheme: dark) {
    html {
        color: white;
        background: rgb(43,43,43);
    }
    :link {
        color: #419CFF;
    }
    :link:active {
        color: #FF1919;
    }
}

body {
    font-family: system-ui,sans-serif;
    font-size: 13px;
}