language: python
python:
- '3.6'
- '3.7'
- '3.8'
install:
- pip install .
script:
- echo "skipping tests"
deploy:
  provider: pypi
  user: SamSchott
  skip_existing: true
  on:
    tags: true
  password:
    secure: O6kroMssA8OcT++KkOww1DO2QYUxb4BYwxrOkh4NUHTUzIy642MHtEmcJ8lalWs5Ho7WIX0YJyikkUXpQ0YlU0/OaHTPjwd3YX9AoBrKcldlRwUfOms0bzCSQjcM8I6CjyYAoSi5/kode5WZS4Od2ymBE4nTNmKUUmGzNPoidJRC9R8FJZ1iD0KfzxwDdYgd/0Wy6SwPNl9iMYi8YS3NBhYvZAhxFaQjxWpSyUIdG77rQnCE8FSSHFWpYRRlnI8GQwqXqCZuzz0PsJ53fPfLvNZamy7lB42MkkSbV2yApMEOE7EheDAFJKLPHMLva7BOmu7emktCX+CJ7vTyw3y2eP/O/tjQtz3r2/0i5whmZVqAcyACY6Fn9LPKak2kKuZHeS+3jiPhPGkbpYbVvM6AaHQDmNBomirER4D8vdIFl3TuiMa39yuyKgX2eDU1mJOO9O4oXFt+FTONzvmLoX8IBsDPoWZhWcazWMrgjhy2JzDA5Tyoofg1wLr05+UHv2+0CuPCr4RYT2ghLQOh4y6ag7vxHfUwEACyhMnlKaWDDsmsoolUX7jKk5yCfjoKAWCnZrt5LJ6htkxwnXoxQ0jkpHIL07tWtxAjwav3NQS8kZGUyz8Ujb5T+T6bAH9XowevG1ruk+bEF1e5WwKpZLdRfKsL719oE2dWmDKrrdjYLVU=
