<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Maestral</string>
	<key>CFBundleIconFile</key>
	<string>Maestral</string>
	<key>CFBundleIconName</key>
	<string>Maestral</string>
	<key>CFBundleIdentifier</key>
	<string>com.samschott.maestral</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Maestral</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>29</string>
	<key>LSEnvironment</key>
	<dict>
		<key>LC_CTYPE</key>
		<string>UTF-8</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>MainModule</key>
	<string>maestral_cocoa</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Sam Schott. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://maestral.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>RugM2eM14xHixaeHpl5uWSq7+sDZvYi52Xpz4IXpAdA=</string>
</dict>
</plist>
